<ion-content>
<div class="logo">
</div>
<div class="login-section ion-padding">
    <div class="heading ion-padding">
        <h1>Welcome</h1>
        <p>Login to continue</p>
    </div>
    <div class="login-form ion-padding">
        <div class="form-input">
            <ion-icon name="mail-outline"></ion-icon>
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email"></ion-input>
            </ion-item>
        </div>
        <div class="form-input">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-item>
                <ion-label position="floating" >Pasword</ion-label>
                <ion-input type="email"></ion-input>
            </ion-item>
        </div>
        <p class="forgot">Forgot password?</p>
    </div>
    <div class="action-button ion-padding">
        <ion-button size="Large" class="login-button" routerLink="/home">Login</ion-button>
        <p>Don't have an account? <span class="signup" routerLink="/signup">Signup</span></p>
    </div>
    
</div>
</ion-content>