<ion-content>
  <div class="logo">
  </div>
  <div class="login-section ion-padding">
      <div class="heading ion-padding">
          <h1>Welcome</h1>
          <p>Login to continue</p>
      </div>
      <div class="login-form ion-padding">
          <div class="form-input">
              <ion-icon name="person-outline"></ion-icon>
              <ion-item>
                  <ion-label position="floating">Name</ion-label>
                  <ion-input type="email"></ion-input>
              </ion-item>
          </div>
          <div class="form-input">
            <ion-icon name="mail-outline"></ion-icon>
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" placeholder="email@domain.com"></ion-input>
            </ion-item>
        </div>
        <div class="form-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" placeholder="Hjikdj1325#" ></ion-input>
          </ion-item>
      </div>
          <div class="form-input">
              <ion-icon name="lock-closed-outline"></ion-icon>
              <ion-item>
                  <ion-label position="floating" >Confirm Pasword</ion-label>
                  <ion-input type="password" placeholder="Hjikdj1325#" ></ion-input>
              </ion-item>
          </div>
          
      </div>
      <div class="action-button ion-padding">
          <ion-button size="Large" class="login-button" routerLink="/home">Signup</ion-button>
          <p> Back to <span class="signup" routerLink="/login">Login</span></p>
      </div>
      
  </div>
  </ion-content>